body{
    font-family: arial;
    color: #333;
}

ul{
	font-size: 2em;
}

li{
	text-decoration: underline;
}

table{
    border-collapse: collapse;
    border: solid lightgray 1px;
    border-radius: 5px;
}

th{
    border-bottom: solid black 1px;
    padding: 10px;
}
td{
    padding: 10px;
}
td:nth-child(6), td:nth-child(7){background-color: #f2dede;}

.no_cur_month{
    color: gray
}

.holly{
    color: red;
}

.calendar{
    float: left;
}
.events{
    float: right;
    background-color: #dde;
    width: 50%;
    height: 400px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
.not_run{color: #981115;}
.ok_run{color: #128411;}
.events h2 {text-align: center;}
.events li{
    text-decoration: none;
    list-style-type: none;
    margin-top: 15px;
}
.descriptions{
    clear: both;
    background-color: #dde;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
}
.ev_in_cal{
    font-weight: bold;
    font-size: 1.1em
}